@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: solid 1px red; */
}

:root{
  --white: #fff;
  --grey-fondooscuro: #A1A1A6;
  --grey-fondoclaro: #858587;
  --background-black: #070707;
  --purple: #DF3DAB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  scroll-behavior: smooth;
}

body{
    font-family: 'Share Tech Mono', monospace;
    background-color: #070707;
}


/* ****************** C A T S ****************** */


@media screen and (max-width: 1250px){
  /* menu tamaño */
  .logo-menu img{
      width: 35px;
      height: 35px;
  }
  .logo-menu a{
      padding-left: 10px;
  }
  .logo-menu p{
      font-size: 15px;
  }
  .menu li{
      margin: 14px;
  }
  .menu li a{
      font-size: 15px;
  }
  .menu li a img{
      width: 35px;
  }
  .menu li a i{
      font-size: 20px;
  }    
  .img-adquirir {
    height: 450px;
  }
  .contianer-pasos-section-adquirir-cats {
    margin-left: 60px;
  }
}

@media screen and (max-width: 1024px){
  /* menu hamburguesa responsive */
  #hamburguer{
      display: flex;
  }
  .nav{
      min-height: 10vh;
  }
  .menu{
      position: fixed;
      width: 100%;
      height: 100vh;
      padding-top: 20px;
      top: 10vh;
      left: -100%;
      display: flex;
      flex-direction: column;
      text-align: left;
      transition: all .5s;
      background: var(--background-black);
  }
  .menu li{
      width: 85%;
      padding-bottom: 10px;
      margin: 20px auto;
      border-bottom: 1px solid #a7a7ad;
  }
  .menu li a span{
      display: unset;
      margin-right: 10px;
  }
  .menu li a img{
      width: 18px;
  }
  .menu li a i{
      font-size: 15px;
  }
  /* logo */
  .contenedor-menu{
      width: 100%;
  }
  .logo-menu{
      margin-left: 15px;
  }
  /* hacer funcionar al menu */
  .menu.show{
      left: 0;
      padding-top: 20px;
  }
  /* textos generales */
  h1{
      font-size: 90px;
  }
  h2{
      font-size: 60px;
  }
  /* quienes somos */
  .contenido-quienes-somos p{
      max-width: 70%;
      font-size: 20px;
      margin-top: 50px;
  }
  /* utilidades */
  .izquierda{
      width: 375px;
  }
  .derecha{
      width: 70%;
      right: 0%;
  }
  .derecha p{
      margin-top: 20px;
      margin-bottom: 40px;
  }
  /* servicios */
  .contenido-servicios p{
      max-width: 90%;
  }
  /* faq */
  .pregunta{
      font-size: 18px;
  }
  .img-adquirir {
    height: 350px;
  }
}

@media screen and (max-width: 850px){
  /* generales */
  h1{
      font-size: 70px;
  }
  h2{
      font-size: 50px;
  }
  /* quienes somos */
  .contenido-quienes-somos p{
      max-width: 100%;
      text-align: center;
      font-size: 18px;
      margin-top: 50px;
  }
  /* utilidades */
  .izquierda{
      width: 300px;
      left: -20px;
  }
  .derecha{
      position: relative;
      width: 100%;
      top: -100px;
  }
  .derecha p{
      font-size: 18px;
  }
  /* contacto */
  .contenido-contacto p{
      max-width: 90%;
      font-size: 18px;
  }
  .img-roadmap {
    height: 440px;
  }
  .img-adquirir{
      height: 300px;
      right: 10%;
  }
  .general-section-adquirir-cats {
    padding: 120px 0 240px 0;
  }
  .container-image-adquirir {
      height: 15vh;
  }
}

@media screen and (max-width: 650px){
  /* generales */
  h1{
      font-size: 55px;
  }
  h2{
      font-size: 40px;
  }
  #quienes-somos{
      height: 60vh;
  }
  #utilidad {
      height: 90vh;
  }
  /* botones */
  .botones{
      margin-top: 50px;
  }
  .btn-ghost{
      padding: 15px 30px;
      font-size: 16px;
  }
  /* portada */
  .texto-portada{
      font-size: 14px;
  }
  /* carrousel de imagenes */
  .swiper-wrapper{
      max-width: 250px;
  }

  .contenido-servicios{
    justify-content: flex-start;
    height: 155vh;
  }

  .contenido-servicios p {
      max-width: 100%;
  }

  .contactanos {
      font-size: 16px;
  }
  /* lista de servicios */
  .lista-servicios{
      grid-gap: 16px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, auto);
  }
  .div-arrow-article-pasos-section-adquirir-cats i {
      font-size: 28px;
  }

  .h2-titulo-section-adquirir-cats {
      font-size: 36px;
  }

  .contianer-pasos-section-adquirir-cats{
      margin-top: 60px;
  }
  .div-arrow-article-pasos-section-adquirir-cats h3 {
      font-size: 24px;
  }
  .div-texto-uno-article-pasos-section-adquirir-cats p, 
  .div-texto-dos-article-pasos-section-adquirir-cats p, 
  .div-texto-tres-article-pasos-section-adquirir-cats p {
      font-size: 16px;
  }

  .titulo-faq {
      margin-top: 0;
  }

  #contacto {
      height: 100vh;
  }
  /* form para enviar mensajes y recibir al correo*/
  form{
      width: 440px;
  }
  /* footer */
  .fa-footer{
      font-size: 30px;
  }
  .rrss a img{
      width: 50px;
  }
  .condiciones-legales{
      margin-top: 30px;
      line-height: 32px;
  }
  .copyright{
  margin-top: 30px;
  }
  .container-roadmap-section-roadmap-cats h2 {
      font-size: 40px;
  }
  .container-partners-section-roadmap-cats h2{
      font-size: 40px;
  }
  .img-roadmap {
    height: 350px;
  }
  .img-adquirir{
      height: 300px;
      right: 10%;
  }
  .general-section-adquirir-cats {
    padding: 120px 0 240px 0;
  }
  .container-image-adquirir {
      height: 15vh;
  }
}

@media screen and (max-width: 500px){
  /* botones */
  .botones{
      flex-direction: column;
  }
  /* portada */
  h1{
      font-size: 35px;
      letter-spacing: 15px;
  }
  .texto-portada{
      font-size: 10px;
  }
  .carousel {
      margin-top: 20px;
  }
  .swiper-slide {
      width: 260px;
      height: 260px;
  }
  /* quienes somos */
  .contenido-quienes-somos p{
      font-size: 16px;
  }
  /* utildiades */
  .derecha p{
      font-size: 16px;
  }
  .izquierda{
      width: 250px;
      left: 0px;
  }
  /* servicios */
  .contenido-servicios p{
      max-width: 100%;
      font-size: 16px;
  }
  .img-roadmap {
      height: 280px;
  }
  /* faq */
  .pregunta{
      font-size: 16px;
  }
  .respuesta{
      font-size: 14px;
  }
  /* contacto */
  .contenido-contacto p{
      max-width: 100%;
      font-size: 16px;
  }
  .contenido-servicios {
      margin: 50px;
      height: auto;
  }
  .lista-servicios{
    /* grid-gap: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, auto); */
    display: flex;
    grid-gap: 40px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
  }
  .general-section-adquirir-cats {
      padding: 80px 0 160px 0;
      align-items: center;
  }
  .contianer-pasos-section-adquirir-cats{
      width: 90%;
      margin-left: 0;
  }
  .img-adquirir{
      height: 250px;
  }
  .elemento-lista {
      width: 100%;
      position: sticky;
      top: 15vh;
  }
  #faq{
      min-height: 90vh;
  }
  .contenedor-preguntas{
      padding-bottom: 20px;
  }
  form{
      width: 350px;
      padding: 15px;
  }
  form input{
      margin: 5px 0px;
  }
  form textarea{
      margin: 5px 0px;
  }
  form button{
      margin-top: 20px;
  }
}

@media screen and (max-width: 375px){
  /* generales */
  h1{
      font-size: 30px;
  }
  h2{
      font-size: 30px;
  }
  /* quienes somos */
  .contenido-quienes-somos p{
      font-size: 14px;
      line-height: 18px;
  }
  /* carrousel de imagenes */
  .swiper-wrapper{
      width: 200px;
      height: 200px;
  }
  .carousel {
      margin-bottom: 40px;
  }
  /* utilidades */
  #utilidad {
      height: 80vh;
  }
  .derecha p{
      font-size: 14px;
      line-height: 24px;
  }
  .img-roadmap {
      height: 220px;
  }
  .container-partners-section-roadmap-cats {
      margin-top: 60px;
  }
  .container-roadmap-section-roadmap-cats h2 {
      font-size: 32px;
  }
  .container-partners-section-roadmap-cats h2 {
      font-size: 32px;
  }

  .h2-titulo-section-adquirir-cats {
      font-size: 28px;
  }
  .div-arrow-article-pasos-section-adquirir-cats h3 {
      font-size: 20px;
  }
  .div-arrow-article-pasos-section-adquirir-cats i {
      font-size: 24px;
  }
  .button {
      height: 6rem;
      width: 6rem;
      bottom: 20px;
      right: 20px;
  }
  
  /* servicios */
  .contenido-servicios p{
      font-size: 14px;
  }
  .contenido-servicios p {
      line-height: 20px;
  }
  /* faq */
  .pregunta{
      font-size: 14px;
  }
  .respuesta{
      font-size: 12px;
  }
  /* contacto */
  .contenido-contacto p{
      max-width: 100%;
      font-size: 14px;
  }
  /* form */
  form{
      width: 270px;
      padding: 15px;
  }
  /* footer */
  .fa-footer{
      font-size: 24px;
  }
  .rrss a img{
      width: 40px;
  }
  .condiciones-legales{
      margin-top: 20px;
      font-size: 14px;
  }
  .copyright{
  font-size: 16px;
  }
}

@media screen and (max-width: 320px){
  /* generales */
  h1{
      font-size: 20px;
  }
  /* portada */
  .texto-portada{
      font-size: 9px;
  }
  /* form de contacto */
  form{
      width: 225px;
  }
  .img-roadmap {
      height: 180px;
  }
  .elemento-lista {
      top: 13vh;
  }
  .contenedor-preguntas div {
      position: sticky;
      top: 13vh;
  }
  #contacto {
      height: 82vh;
  }
  form {
      width: 260px;
  }
  form textarea {
      font-size: 8px;
  }
  form textarea::placeholder {
      font-size: 16px;
  }
  .btn-ghost {
    padding: 12px 28px;
    font-size: 16px;
  }
  .autor-labs p {
      font-size: 1.4rem;
      margin-left: 6rem;
  }
  .a-autor-labs {
      margin-left: 8rem;
  }
  
}





/* ****************** L A B S ****************** */


@media screen and (max-width: 1250px) {
    .h4-header-labs {
        left: 20vw;
    }
    .ola {
        top: 35rem;
    }
}

@media screen and (max-width: 1024px) {
    #hamburguer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 4rem;
        margin-right: 0;
    }
    .hamburger .line {
        width: 5.6rem;
        height: .6rem;
        margin: 1.2rem;
    }
    #hamburger-6.is-active .line:nth-child(1) {
        transform: translateY(18px);
    }
    #hamburger-6.is-active .line:nth-child(3) {
        transform: translateY(-18px) rotate(90deg);
    }
    .container-nav{
        min-height: 10vh;
    }
    .ul-nav{
        position: fixed;
        top: 12vh;
        width: 100%;
        height: 100vh;
        padding-top: 20px;
        left: -100%;
        display: flex;
        flex-direction: column;
        text-align: left;
        text-align: left;
        transition: all .5s;
        background-color: rgba(68, 56, 56, 0.219);
        backdrop-filter: blur(.6rem);
    }
    .ul-nav li{
        padding-bottom: 10px;
        /* margin: 20px; */
        /* border-bottom: 1px solid #a7a7ad; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .a-nav {
        width: 95%;
        border-bottom: 2px solid #ffffffb7;
        margin: 0 2rem;
        padding: 4rem 2rem;
    }
    .ul-nav li a span{
        display: unset;
        margin-right: 10px;
    }
    .ul-nav li a img{
        width: 18px;
    }
    .ul-nav li a i{
        font-size: 15px;
    }
    .ul-nav.show{
        left: 0;
        /* top: 12vh; */
        padding-top: 20px;
    }
    .filter {
        backdrop-filter: blur(.6rem);
    }
    .filter-nav {
        backdrop-filter: none;
    }





    .li-nav {
        padding: 0;
        font-size: 3.2rem;
    }
    .video-fondo-labs {
        top: 25rem;
    }
    .h4-header-labs {
        top: 60%;
        left: 5vw;
        font-size: 3.6rem;
        line-height: 7.2rem;
    }
    .ola {
        top: 92rem
    }
    .h1-section-nfts-labs {
        font-size: 7.2rem;
    }
    .p-section-nfts-labs {
        width: 86%;
        font-size: 3.2rem;
        line-height: 6rem;
    }
    .h2-services-labs {
        font-size: 5.2rem;
    }
    .h1-services-labs {
        font-size: 4rem;
    }
    .container-uno-services-labs {
        width: 80%;
    }
    .container-tres-services-labs {
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 8rem;
        margin-top: 8rem;
    }
    .article-container-tres-services-labs {
        height: 32vh;
    }
    .h3-article-services-labs {
        font-size: 2.8rem;
    }
    .p-article-services-labs {
        font-size: 2.2rem;
        line-height: 3.2rem;
    }
    .h2-container-cuatro-services-labs {
        font-size: 4rem;
    }
    .p-container-cuatro-services-labs {
        font-size: 2.8rem;
    }
    .general-container-contador-labs {
        height: 70vh;
    }
    .h2-contador-labs {
        font-size: 4rem;
        line-height: 5.2rem;
    }
    .container-contador-labs {
        width: 100%;
    }
    .container-general-twitter-contador-labs, 
    .container-general-nft-contador-labs, 
    .container-general-discord-contador-labs {
        height: 18vh;
    }
    footer {
        height: 20vh;
    }
}

@media screen and (max-width: 850px) {
    .hamburger .line {
        width: 4.4rem;
        height: 0.4rem;
        margin: 1rem;
    }
    #hamburger-6.is-active .line:nth-child(3) {
        transform: translateY(-10px) rotate(90deg);
    }

    .logo-nav {
        max-width: 80%;
        max-height: 80%;
    }
    .video-fondo-labs {
        height: 50rem;
        top: 12rem;
    }
    .h4-header-labs {
        width: 80%;
        margin: 15rem auto 0 auto;
        font-size: 4rem;
        top: 65%;
        line-height: 6rem;
    }
    .container-nav {
        background-color: rgba(36, 33, 33, 0.445);
    }
    .li-nav {
        font-size: 2.4rem;
        padding: 0;
    }
    .ola {
        top: 19rem;
    }
    .container-section-nfts-labs {
        height: 100vh;
    }
    .h1-section-nfts-labs {
        font-size: 5.2rem;
    }
    .p-section-nfts-labs {
        font-size: 2.4rem;
        line-height: 5.2rem;
    }
    .h2-services-labs {
        font-size: 4.4rem;
        letter-spacing: .6rem;
    }
    .container-dos-services-labs {
        margin-top: 10rem;
    }
    .container-tres-services-labs {
        width: 90%;
    }
    .h1-services-labs {
        width: 80%;
        margin: 0 auto;
    }
    .general-container-contador-labs {
        height: 70vh;
    }
    .article-container-tres-services-labs {
        height: 40vh;
    }
    .h3-article-services-labs {
        font-size: 2.4rem;
    }
    .p-article-services-labs {
        font-size: 2rem;
    }
    .container-cuatro-services-labs {
        margin-top: 16rem;
    }
    .h2-container-cuatro-services-labs {
        width: 80%;
        font-size: 3.2rem;
    }
    .p-container-cuatro-services-labs {
        font-size: 2.4rem;
    }
    .general-container-contador-labs {
        height: 100vh;
    }
    .h2-contador-labs {
        font-size: 3.2rem;
        line-height: 4.4rem;
    }
    .container-general-twitter-contador-labs, 
    .container-general-nft-contador-labs, 
    .container-general-discord-contador-labs {
        height: 20vh;
    }
    .container-contador-labs {
        width: 110%;
    }
    footer {
        height: 25vh;
    }

}

@media screen and (max-width: 650px) {
    .li-nav {
        font-size: 2rem;
        padding: 0;
    }
    .video-fondo-labs {
        top: 10rem;
    }
    .h4-header-labs {
        font-size: 4rem;
        line-height: 6rem;
    }
    .ola {
        top: 19rem;
        display: none;
    }
    .ola-dos {
        display: block;
    }
    .h1-section-nfts-labs {
        font-size: 4rem;
        letter-spacing: .8rem;
    }
    .p-section-nfts-labs {
        line-height: 4.4rem;
    }
    .h2-services-labs {
        font-size: 3.2rem;
    }
    .p-services-labs {
        font-size: 2.4rem;
    }
    .section-services-labs{
        margin-bottom: 6rem;
    }
    .container-dos-services-labs {
        width: 80%;
    }
    .h1-services-labs {
        width: 100%;
        font-size: 3.2rem;
        letter-spacing: .3rem;
    }
    .container-tres-services-labs {
        width: 90%;
    }
    .article-container-tres-services-labs {
        height: 50vh;
    }
    .p-article-services-labs {
        font-size: 1.8rem;
    }
    .h2-container-cuatro-services-labs{
        font-size: 2.6rem;
        width: 80%;
        letter-spacing: .1rem;
    }
    .p-container-cuatro-services-labs {
        font-size: 2.4rem;
    }
    .h2-contador-labs {
        font-size: 2.8rem;
        line-height: 4rem;
    }
    
    .container-titulo-twitter-contador-labs,
    .container-titulo-nft-contador-labs,
    .container-titulo-discord-contador-labs {
        margin-top: 1.2rem;
    }
    .container-contador-labs {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 40px;
        width: 80%;
    }
    .general-container-contador-labs {
        height: auto;
        margin-bottom: 6rem;
    }

    .container-numero-twitter-contador-labs, 
    .container-numero-nft-contador-labs, 
    .container-numero-discord-contador-labs {
        margin-top: 1.6rem;
    }

    .h2-twitter-contador-labs, 
    .h2-nft-contador-labs, 
    .h2-discord-contador-labs {
        font-size: 4rem;
    }

    .simbolo-numero-nft-contador-labs {
        font-size: 3.4rem;
    }

    .p-numero-contador-labs {
        font-size: 3.4rem;
    }

    .p-texto-contador-labs {
        font-size: 1.8rem;
    }

    .rrss {
        margin-top: 2rem;
    }

    .condiciones-legales {
        margin-top: 1.2rem;
    }
    
    .copyright {
        margin: 2rem 0;
    }
}

@media screen and (max-width: 428px) {
    .container-nav {
        grid-template-columns: 1fr 2fr;
    }
    .logo-nav {
        max-width: 100%;
        max-height: 100%;
    }
    #hamburguer {
        padding-right: 3.2rem;
    }
    .hamburger .line {
        width: 3.8rem;
        height: 0.4rem;
        margin: .8rem;
    }
    #hamburger-6.is-active .line:nth-child(3) {
        transform: translateY(-10px) rotate(90deg);
    }
    .li-nav {
        font-size: 1.8rem;
    }
    .a-nav {
        width: 90%;
        padding: 3.2rem 2rem;
    }
    .video-fondo-labs {
        top: 5rem;
    }
    .h4-header-labs {
        margin: 0rem auto 0 auto;
        font-size: 2.4rem;
        line-height: 4.8rem;
    }
    .ola {
        top: 28rem;
    }
    .container-section-nfts-labs {
        height: 90vh;
    }
    .h1-section-nfts-labs {
        font-size: 3.6rem;
        letter-spacing: .4rem;
    }
    .p-section-nfts-labs {
        font-size: 1.8rem;
        line-height: 3.2rem;
    }
    .h2-services-labs {
        font-size: 2.8rem;
    }
    .p-services-labs {
        font-size: 2rem;
    }
    .container-dos-services-labs {
        margin-top: 6rem;
    }
    .h1-services-labs {
        font-size: 2.8rem;
    }    
    .container-tres-services-labs {
        display: flex;
        flex-direction: column;
    }
    .article-container-tres-services-labs {
        height: 42vh;
    }
    .h3-article-services-labs {
        font-size: 2.6rem;
    }
    .p-container-cuatro-services-labs {
        font-size: 2rem;
    }
    .h2-contador-labs {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }
    .container-contador-labs {
        width: 90%;
    }
    .simbolo-numero-nft-contador-labs {
        font-size: 2.8rem;
    }
    .p-numero-contador-labs {
        font-size: 2.8rem;
    }
    .container-titulo-twitter-contador-labs, 
    .container-titulo-nft-contador-labs, 
    .container-titulo-discord-contador-labs {
        margin-top: 0;
    }
    .container-simbolo-numero {
        margin-top: .4rem;
    }
    .h2-twitter-contador-labs, 
    .h2-nft-contador-labs, 
    .h2-discord-contador-labs {
        font-size: 3.2rem;
    }
    .p-texto-contador-labs {
        font-size: 1.6rem;
        margin-top: 0;
    }
    footer {
        height: 30vh;
    }
    .rrss a {
        margin: 1.2rem 1.6rem;
    }
}

@media screen and (max-width: 393px) {
    .ul-nav.show {
        padding-top: 1.2rem;
    }
    #hamburger-6.is-active .line:nth-child(3) {
        transform: translateY(-6px) rotate(90deg);
    }
    .a-nav {
        padding: 2.4rem 2rem;
    }
    .video-fondo-labs {
        top: 3.2rem;
    }
    .h4-header-labs {
        font-size: 3.2rem;
        margin: -4rem auto 0 auto;
    }
    .ola {
        top: 14rem;
    }
    .container-section-nfts-labs {
        height: 80vh;
    }
    .h1-section-nfts-labs {
        font-size: 3.2rem;
    }
    .p-section-nfts-labs {
        font-size: 1.6rem;
        line-height: 2.8rem;
        margin: 2rem auto 0 auto;
    }
    .h2-services-labs {
        font-size: 2.4rem;
    }
    .article-container-tres-services-labs {
        height: 45vh;
    }
    .h3-article-services-labs {
        font-size: 2.4rem;
    }
    .p-article-services-labs {
        margin-top: 3.2rem;
    }
    .container-cuatro-services-labs {
        margin-top: 10rem;
    }
    .h2-container-cuatro-services-labs {
        font-size: 2.4rem;
    }
    .p-container-cuatro-services-labs {
        font-size: 1.8rem;
    }
    .container-general-twitter-contador-labs, 
    .container-general-nft-contador-labs, 
    .container-general-discord-contador-labs {
        height: 24vh;
    }
    .container-numero-twitter-contador-labs, 
    .container-numero-nft-contador-labs, 
    .container-numero-discord-contador-labs {
        margin-top: 2.4rem;
    }
}

@media screen and (max-width: 375px) {
    .article-container-tres-services-labs {
        height: 46vh;
    }
    .h3-article-services-labs {
        font-size: 2.2rem;
    }
    .p-article-services-labs {
        font-size: 1.6rem;
    }
    .h2-contador-labs {
        font-size: 2.2rem;
        line-height: 3.2rem;
    }
}

@media screen and (max-width: 360px) {
    .hamburger .line {
        width: 3.2rem;
        height: 0.3rem;
        margin: .8rem;
    }
    #hamburger-6.is-active .line:nth-child(3) {
        transform: translateY(-4px) rotate(90deg);
    }
    .video-fondo-labs {
        top: 10rem;
        height: 32rem;
    }
    .h4-header-labs {
        font-size: 2rem;
        line-height: 4rem;
        margin: 12rem auto 0 auto;
    }
    .ola {
        top: 17rem;
    }
    .container-section-nfts-labs {
        height: 70vh;
    }
    .h1-section-nfts-labs {
        font-size: 2.8rem;
    }
    .p-section-nfts-labs {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
    .h2-services-labs {
        font-size: 2.2rem;
    }
    .p-services-labs {
        font-size: 1.6rem;
    }
    .article-container-tres-services-labs {
        height: 44vh;
    }  
    .h3-article-services-labs {
        font-size: 2rem;
    }
    .p-article-services-labs {
        line-height: 2.6rem;
    }
    .h2-container-cuatro-services-labs {
        font-size: 2rem;
    }
    .p-container-cuatro-services-labs {
        font-size: 1.6rem;
    }
    .h2-contador-labs {
        letter-spacing: .1rem;
        font-size: 2rem;
    }
    .h2-twitter-contador-labs, 
    .h2-nft-contador-labs, 
    .h2-discord-contador-labs {
        font-size: 2.6rem;
    }
    .simbolo-numero-nft-contador-labs {
        font-size: 2.4rem;
    }
    .p-numero-contador-labs {
        font-size: 2.4rem;
    }
    .p-texto-contador-labs {
        margin-top: .8rem;
    }
}