.contenido-footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rrss{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rrss a{
    margin: 20px;
}

.fa-footer{
    font-size: 40px;
    color: #fff;
    transition: 0.3s;
}

.rrss a img{
    width: 60px;
    transition: 0.5s;
}

.fa-footer:hover, .rrss a img:hover{
    transform: scale(1.15);
}

.a-twitter-footer:hover {
    color: #3396e9;
}

.a-discord-footer:hover {
    color: #5662eb;
}
/* 
.active {
    background-color: rgb(255, 255, 255);
    color: black;
} */








.condiciones-legales{
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}


.contenedor-nav-footer ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.li-nav-footer {
    list-style: none;
    margin: 1.2rem 0;
    cursor: pointer;
}

.li-nav-footer a {
    text-decoration: none;
    color: #fff;
    transition: .3s;
    padding: .8rem 2rem;
    border-radius: .8rem;
    font-size: 2rem;
}

.li-nav-footer a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}  

.li-nav-footer a::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
}
  
.li-nav-footer a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
  
.li-nav-footer a::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: rgba(255, 255, 255, 0.842);
    z-index: -1;
    transition: transform .4s ease;
}
  
.li-nav-footer a {
    position: relative;
}


@media (orientation: landscape) {
    body {
      grid-auto-flow: column;
    }
}





.legales {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.terminos{
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 1.2rem 0;
    text-decoration: underline;
}

.terminos:hover {
    color: #DF3DAB;
}


.privacidad{
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 1.2rem 0;
    text-decoration: underline;
}

.privacidad:hover {
    color: #DF3DAB;
}


.cookies{
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 1.2rem 0;
    text-decoration: underline;
}

.cookies:hover {
    color: #DF3DAB;
}


.terminos:hover, .privacidad:hover, .cookies:hover{
    text-decoration: underline;
}










.copyright{
    height: auto;
    padding: 2rem 0;
    color: var(--white);
    font-size: 18px;
}