*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: solid 1px red; */
}

:root {
    --font-family-titulo: -apple-system, BlinkMacSystemFont, sans-serif;
    --backgroud: #1f1f1f;
    --background-nav: #313131;
    --text-color: #fff;
    --subtext-color: rgba(236, 236, 236, 0.932);
}
  
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
  
body {
    font-family: var(--font-family-titulo);
}

/* ********************** Styles ********************** */


.container-section-nfts-labs {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-family: var(--font-family-titulo);
    padding-bottom: 10rem;
    padding-top: 10rem;
}

.h1-section-nfts-labs {
    font-size: 4.8rem;
    font-weight: 600;
    letter-spacing: -.002em;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.p-section-nfts-labs {
    width: 80%;
    margin: 5rem auto 0 auto;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 3.6rem;
    letter-spacing: -.001em;
    color: var(--subtext-color);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

