#quienes-somos{
    position: relative;
    height: 90vh;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-color: var(--background-black);
}

.contenedor{
    position: relative;
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.contenido-quienes-somos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.textosection1-p {
    max-width: 60%;
    text-align: center;
    font-size: 20px;
    color: var(--grey-fondooscuro);
    margin-top: 60px;
}

.textosection1-p--span {
    color: var(--white);
}

