#utilidad{
    position: relative;
    height: 100vh;
    background-color: var(--white);
}

.derecha{
    position: absolute;
    width: 50%;
    top: 20%;
    right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.derecha p{
    text-align: center;
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    color: var(--grey-fondoclaro);
    letter-spacing: .5px;
    line-height: 32px;
}


.derecha p span{
    color: var(--background-black);
}

.btn-utilidades.primary {
    transition: all .4s ease-in-out;
}

.btn-utilidades.primary:hover {
    background-color: #3396e9;
    color: #fff;
    border: 2px solid #3396e9;
}

.izquierda{
    position: absolute;
    left: -30px;
    bottom: -2px;
    overflow: hidden;
    width: 500px;
}


.izquierda img{
    width: 100%;
}