#contacto{
    position: relative;
    height: auto;
    background-color: #ffffff;
    padding: 6rem 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


.contenido-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #070707;
}

.contenido-contacto h2 {
    font-weight: 500;
}

.textsection-p {
    max-width: 65%;
    text-align: center;
    font-size: 20px;
    color: rgb(43, 43, 43);
    margin-top: 20px;
}


.textsection-p--span {
    color: rgb(0, 0, 0);
    font-weight: 600;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    background-color: #2C2C2C;
    box-shadow: 0 0 10px 0 #070707;
}


form input{
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    border: 1px solid #2C2C2C;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


form textarea{
    resize: none;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    border: 1px solid #2C2C2C;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


form button{
    margin-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.primary {
    cursor: pointer;
}