#contacto{
    position: relative;
    height: auto;
    background-color: #ffffff;
    padding: 10rem 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


.contenido-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #070707;
    padding-top: 4rem;
}

.contenido-contacto h2 {
    font-weight: 500;
}

.textsection-p {
    max-width: 65%;
    text-align: center;
    font-size: 20px;
    color: rgb(43, 43, 43);
    margin-top: 20px;
}


.textsection-p--span {
    color: rgb(0, 0, 0);
    font-weight: 600;
}
/* 
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    background-color: #2C2C2C;
    box-shadow: 0 0 10px 0 #070707;
}

.div-form {
    display: flex;
    flex-direction: column;
}

.div-form label {
    font-size: 1.6rem;
    margin-left: .8rem;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: #ffffff;
}


form input{
    padding: 12px;
    margin: 10px 0px 20px 0;
    border-radius: 10px;
    border: 1px solid #2C2C2C;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


form textarea{
    resize: none;
    height: 20vh;
    padding: 12px;
    margin: 10px 0px;
    border-radius: 10px;
    border: 1px solid #2C2C2C;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


form button{
    margin-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
} */

.primary {
    cursor: pointer;
}

.fa-paper-plane {
    margin-left: .4rem;
}

.div-button-contactanos {
    width: 60%;
    height: auto;
    padding: 2rem 0;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-contactanos {
    width: 60%;
    height: 8vh;
    border-radius: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
    background-color: #dc4738;
    border: solid 2px #f56f63;
    transition: all .4s ease-in-out;
}

.button-contactanos:hover {
    background-color: #fff0f0;
    color: #dc4738;
    box-shadow: 0 0 10px 0 #dc4738;
}

/* .button-contactanos a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
} */

.button-contactanos a:hover {
    color: #dc4738;
}

.icono-button-contactanos {
    margin-left: 1.2rem;
}

