#faq{
    position: relative;
    min-height: 100vh;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #070707;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.titulo-faq{
    margin-top: 100px;
    margin-bottom: 30px;
}

.titulo-faq h2 {
    font-weight: 500;
    color: #fff;
}

.preguntas{
    width: 80%;
    padding-top: 20px;
}


.contenedor-preguntas{
    display: grid;
    grid-template-columns: 1fr;
    gap: 28px;
    padding-bottom: 50px;
}


.contenedor-pregunta{
    /* background-color: #e5e5e8; */
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 7px;
    overflow: hidden;
    transition: all .3s ease ;
    cursor: pointer;
}



.contenedor-pregunta:hover{
    box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.42);
}



.activa{
    border: 2px solid #525252;
    box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.42);
}


.pregunta{
    font-weight: 500;
    color: var(--black);
    font-size: 20px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.pregunta img{
    width: 14px;
}


.respuesta{
    color: var(--grey-fondoclaro);
    line-height: 30px;
    transition: .3s ease all;
    font-size: 16px;
    font-weight: 500;
}


.contenedor-pregunta.activa .respuesta{
    opacity: 1;
    margin-top: 20px;
}


.contenedor-pregunta .respuesta a{
    display: none;
    text-decoration: none;
    color: var(--purple);
}


.contenedor-pregunta.activa .respuesta a{
    display: inline;
}


.contenedor-pregunta.activa .respuesta a:hover{
    text-decoration: underline;
}


.contenedor-pregunta.activa img{
    transform: rotate(45deg);
    transition: all .2s ease-in-out;
}