.section-roadmap-cats {
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 100px 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


.container-roadmap-section-roadmap-cats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-roadmap-section-roadmap-cats h2 {
    color: #070707;
    font-size: 70px;
    letter-spacing: 6px;
    font-weight: 500;
}

.img-roadmap {
    width: 90%;
    height: fit-auto;
    margin: 60px auto;
    border-radius: 20px;
    box-shadow: 0 0 40px -5px rgb(0, 0, 0);
}

.container-partners-section-roadmap-cats {
    width: 80%;
    margin-top: 100px;
}

.container-partners-section-roadmap-cats h2 {
    color: #fff;
    font-size: 70px;
    letter-spacing: 6px;
    font-weight: 500;
}
