@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: solid 1px red; */
}

:root{
  --white: #fff;
  --grey-fondooscuro: #A1A1A6;
  --grey-fondoclaro: #858587;
  --background-black: #070707;
  --purple: #DF3DAB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  scroll-behavior: smooth;
}

body{
    font-family: 'Share Tech Mono', monospace;
    background-color: #070707;
}


/* ****************** C A T S ****************** */

/* 1250 */
@media screen and (max-width: 1200px){
  /* menu tamaño */
  .logo-menu img{
      width: 35px;
      height: 35px;
  }
  .logo-menu a{
      padding-left: 10px;
  }
  .logo-menu p{
      font-size: 15px;
  }
  .menu li{
    margin: 14px 8px;
  }
  .menu li a{
      font-size: 1.6rem;
  }
  .menu li a img{
      width: 35px;
  }
  .menu li a i{
      font-size: 20px;
  }    
  .img-adquirir {
    height: 450px;
  }
  .contianer-pasos-section-adquirir-cats {
    margin-left: 60px;
  }
  .article-container-tres-services-labs {
    height: 40vh;
  }
  .h2-contador-labs {
      width: 100%;
  }
}
/* 1024 */
@media screen and (max-width: 1024px){
  /* menu hamburguesa responsive */
  #hamburguer{
      display: flex;
  }
  .nav{
      min-height: 10vh;
  }
  .menu{
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 10vh;
      left: -100%;
      display: flex;
      flex-direction: column;
      text-align: left;
      transition: all .5s;
      background: var(--background-black);
      overflow-y: auto;
  }
  .menu li{
      width: 85%;
      padding-bottom: 4px;
      margin: 12px auto 6px auto;
      border-bottom: 1px solid #a7a7ad;
  }
  .menu li a span{
      display: unset;
      margin-right: 10px;
  }
  .menu li a img{
      width: 18px;
  }
  /* logo */
  .contenedor-menu{
      width: 100%;
  }
  .logo-menu{
      margin-left: 15px;
  }
  /* hacer funcionar al menu */
  .menu.show{
      left: 0;
      overflow-y: auto;
  }
  /* textos generales */
  h1{
      font-size: 90px;
  }
  h2{
      font-size: 60px;
  }
  /* quienes somos */
  #quienes-somos {
      height: 75vh;
  }
  .contenido-quienes-somos p{
      max-width: 70%;
      font-size: 20px;
      margin-top: 50px;
  }
  /* utilidades */
  .izquierda{
      width: 375px;
  }
  .derecha{
      width: 70%;
      right: 0%;
  }
  .container-uno-services-labs {
    width: 80%;
  }
  .derecha p{
      margin-top: 20px;
      margin-bottom: 40px;
  }
  .h2-titulo-section-adquirir-cats {
      font-size: 5.2rem;
  }
  /* servicios */
  .contenido-servicios p{
      max-width: 90%;
  }
  /* faq */
  .pregunta{
      font-size: 18px;
  }
  .img-adquirir {
    height: 350px;
  }
  .li-nav-footer a {
    padding: 0.4rem 1.6rem;
}
.button-contactanos {
    height: 5vh;
}
}
/* 850 */
@media screen and (max-width: 768px){ 
  /* generales */
  h1{
      font-size: 70px;
  }
  h2{
      font-size: 50px;
  }
  .logo-menu img {
    width: 6rem;
    height: 6rem;
  }
  .logo-menu p {
      font-size: 2.2rem;
      padding-left: 1.2rem;
  }
  /* quienes somos */
  .contenido-quienes-somos p{
      max-width: 100%;
      text-align: center;
      font-size: 18px;
      margin-top: 50px;
  }
  /* utilidades */
  #utilidad {
      height: 80vh;
  }
  .izquierda{
      width: 300px;
      left: -4rem;
  }
  .derecha{
      position: relative;
      width: 100%;
      top: -100px;
  }
  .derecha p{
      font-size: 2.4rem;
  }
  /* contacto */
  .contenido-contacto p{
      max-width: 90%;
      font-size: 18px;
  }
  .img-adquirir{
    height: 300px;
    right: 2%;
  }
  .general-section-adquirir-cats {
    padding: 12rem 0 16rem 0;
  }
  .article-container-tres-services-labs {
    height: 45vh;
  }
  .contenido-servicios p {
      max-width: 100%;
  }
  .lista-servicios {
      width: 110%;
  }
  .elemento-lista {
      padding: 1.2rem;
  }
  .container-image-adquirir {
    height: 15vh;
  }
  #faq {
      min-height: 80vh;
  }
  .titulo-faq {
      margin-top: 2rem;
  }
  .section-socios {
      padding: 6rem 2rem 8rem 2rem;
  }
  .container-div-imagenes {
      width: 80%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      margin-top: 4rem;
      padding: 3.2rem;
      grid-column-gap: 32px;
      grid-row-gap: 4rem;
  }
  .condiciones-legales {
    width: 80%;
  }  
}
/* 650 */
@media screen and (max-width: 600px){
    .button {
        bottom: 30px;
        right: 30px;
        height: 6rem;
        width: 6rem;
    }
    .logo-discord {
        font-size: 3.6rem;
    }
  /* generales */
  h1{
      font-size: 55px;
  }
  h2{
      font-size: 40px;
  }
  #quienes-somos{
      height: 60vh;
  }
  #utilidad {
      height: 90vh;
  }
  /* botones */
  .botones{
      margin-top: 50px;
  }
  .btn-ghost{
      padding: 15px 30px;
      font-size: 16px;
  }
  /* portada */
  .texto-portada{
      font-size: 14px;
  }
  /* carrousel de imagenes */
  .swiper-wrapper{
      max-width: 250px;
  }

  .contenido-servicios{
    justify-content: flex-start;
    margin: 10rem 0 8rem 0;
  }

  .contenido-servicios p {
      max-width: 100%;
  }

  .contactanos {
      font-size: 16px;
  }
  /* lista de servicios */
  .lista-servicios{
      grid-gap: 16px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, auto);
      margin-top: 6rem;
  }
  .elemento-lista {
      height: auto;
  }
  .div-arrow-article-pasos-section-adquirir-cats i {
      font-size: 28px;
  }
  .uno,
    .dos {
        height: 50vh;
    }
    .tres,
    .cuatro {
        height: 50vh;
    }
    .cinco,
    .seis {
        height: 37vh;
        margin-top: -12rem;
    }
  
    .p-container-cuatro-services-labs {
        font-size: 2.4rem;
    }

  .h2-titulo-section-adquirir-cats {
      font-size: 36px;
  }

  .h2-contador-labs {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }

  .h2-services-labs {
      width: 100%;
  }

  .container-uno-services-labs {
      width: 90%;
  }

  .container-general-twitter-contador-labs, 
  .container-general-nft-contador-labs, 
  .container-general-discord-contador-labs {
    padding: 3.2rem 2rem;
  }

  .contianer-pasos-section-adquirir-cats{
      margin-top: 60px;
  }
  .div-arrow-article-pasos-section-adquirir-cats h3 {
      font-size: 24px;
  }
  .div-texto-uno-article-pasos-section-adquirir-cats p, 
  .div-texto-dos-article-pasos-section-adquirir-cats p, 
  .div-texto-tres-article-pasos-section-adquirir-cats p {
      font-size: 16px;
  }

  .titulo-faq {
      margin-top: 0;
  }
  /* form para enviar mensajes y recibir al correo*/
  form{
      width: 440px;
  }
  /* footer */
  
  .container-roadmap-section-roadmap-cats h2 {
      font-size: 40px;
  }
  .container-partners-section-roadmap-cats h2{
      font-size: 40px;
  }
  .img-adquirir{
      height: 300px;
      right: 10%;
  }
  .general-section-adquirir-cats {
    padding: 120px 0 240px 0;
  }
  .container-image-adquirir {
      height: 15vh;
  }
  .condiciones-legales {
    width: 100%;
  }  
}
/* 500 */
@media screen and (max-width: 480px){
  /* botones */
  .botones{
      flex-direction: column;
  }
  /* portada */
  h1{
      font-size: 35px;
      letter-spacing: 15px;
  }
  .texto-portada{
      font-size: 10px;
  }
  .carousel {
      margin-top: 20px;
  }
  .swiper-slide {
      width: 260px;
      height: 260px;
  }
  /* quienes somos */
  .contenido-quienes-somos p{
      font-size: 16px;
  }
  /* utildiades */
  .derecha p{
      font-size: 16px;
  }
  .izquierda{
      width: 250px;
      left: 0px;
  }
  /* servicios */
  .contenido-servicios p{
      max-width: 100%;
      font-size: 16px;
  }
  /* faq */
  .pregunta{
      font-size: 16px;
  }
  .respuesta{
      font-size: 14px;
  }
  /* contacto */
  .contenido-contacto p{
      max-width: 100%;
      font-size: 16px;
  }
  .contenido-servicios {
      margin: 50px;
      height: auto;
  }
  .lista-servicios{
    /* grid-gap: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, auto); */
    display: flex;
    grid-gap: 40px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
  }
  .general-section-adquirir-cats {
      padding: 80px 0 160px 0;
      align-items: center;
  }
  .contianer-pasos-section-adquirir-cats{
      width: 90%;
      margin-left: 0;
  }
  .img-adquirir{
      height: 250px;
  }
  .elemento-lista {
      width: 100%;
      position: sticky;
      top: 15vh;
  }
  #faq{
      min-height: 90vh;
  }
  .contenedor-preguntas{
      padding-bottom: 20px;
  }
  form{
      width: 350px;
      padding: 15px;
  }
  form input{
      margin: 5px 0px;
  }
  form textarea{
      margin: 5px 0px;
  }
  form button{
      margin-top: 20px;
  }
  .container-div-imagenes {
      width: 90%;
      grid-row-gap: 3.2rem;
  }

  .condiciones-legales {
      display: flex;
      flex-direction: column;
  }

  .condiciones-legales a {
      padding: .8rem 0;
  }

  .legales {
      margin-top: 4rem;
  }

  .terminos {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
    margin: .4rem 0;
  }

  .privacidad {
      margin: .4rem 0;
  }

  .cookies {
    border-left: none;
    padding-left: 0;
    margin-left: 0;
    margin: .4rem 0;
  }
  .div-button-contactanos {
      width: 100%;
  }
  .button-contactanos {
    height: 6vh;
  }
}

@media screen and (max-width: 393px){
    .contenido-portada img {
        width: 230px;
        height: 230px;
    }
    .titulo-portada {
        font-size: 3.2rem;
        margin-left: 1rem;
    }
    .logo-menu img {
        width: 5.2rem;
        height: 5.2rem;
    }
    .logo-menu a {
        padding-left: .4rem;
    }
    .logo-menu p {
        font-size: 1.8rem;
    }
    .menu li a {
        font-size: 1.8rem;
    }
    #quienes-somos {
        height: 70vh;
    }
    .contenido-quienes-somos h2 {
        padding-top: 10rem;
    }
    .contenido-quienes-somos h2 {
        font-size: 3.2rem;
    }
    .contenido-quienes-somos p {
        font-size: 1.8rem;
    }
    .h2-titulo-section-adquirir-cats {
        font-size: 2.8rem;
    }
    .div-arrow-article-pasos-section-adquirir-cats i {
        font-size: 2.4rem;
    }
    .div-arrow-article-pasos-section-adquirir-cats h3 {
        font-size: 2rem;
    }
    .contianer-pasos-section-adquirir-cats {
        grid-row-gap: 4rem;
    }
    .div-texto-uno-article-pasos-section-adquirir-cats, 
    .div-texto-dos-article-pasos-section-adquirir-cats, 
    .div-texto-tres-article-pasos-section-adquirir-cats {
        margin-top: 2rem;
        margin-left: 4rem;
    }
    .pregunta {
        column-gap: 3rem;
    }
    .container-div-imagenes {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        padding: 4rem;
    }
    .derecha {
        padding-top: 2rem;
    }
    .contenido-servicios {
        padding-top: 5.2rem;
    }
    .container-uno-services-labs {
        padding-top: 4rem;
    }
    .titulo-faq {
        padding-top: 6rem;
    }
    #contacto {
        padding: 6rem 0;
    }
    .button-contactanos {
        height: 7vh;
        width: 80%;
    }
}
/* 375 */
@media screen and (max-width: 375px){
    .logo-discord {
        font-size: 3rem;
    }
  /* generales */
  h1{
      font-size: 30px;
  }
  h2{
      font-size: 30px;
  }
  /* quienes somos */
  .contenido-quienes-somos p{
      font-size: 14px;
      line-height: 18px;
  }
  /* carrousel de imagenes */
  .swiper-wrapper{
      width: 200px;
      height: 200px;
  }
  .carousel {
      margin-bottom: 40px;
  }
  
  /* utilidades */
  #utilidad {
      height: 100vh;
  }
  .derecha p{
      font-size: 14px;
      line-height: 24px;
  }
  .container-partners-section-roadmap-cats {
      margin-top: 60px;
  }
  .container-roadmap-section-roadmap-cats h2 {
      font-size: 32px;
  }
  .container-partners-section-roadmap-cats h2 {
      font-size: 32px;
  }
  .container-titulo-section-adquirir-cats {
      width: 90%;
  }
  .h2-titulo-section-adquirir-cats {
      font-size: 24px;
  }
  .div-arrow-article-pasos-section-adquirir-cats h3 {
      font-size: 20px;
  }
  .div-arrow-article-pasos-section-adquirir-cats i {
      font-size: 24px;
  }
  .button {
      height: 6rem;
      width: 6rem;
      bottom: 20px;
      right: 20px;
  }
  
  /* servicios */
  .contenido-servicios p{
      font-size: 14px;
  }
  .contenido-servicios p {
      line-height: 20px;
  }
  /* faq */
  .pregunta{
      font-size: 14px;
  }
  .respuesta{
      font-size: 12px;
  }
  /* contacto */
  .contenido-contacto p{
      max-width: 100%;
      font-size: 14px;
  }
  /* form */
  form{
      width: 270px;
      padding: 15px;
  }
  /* footer */
  .fa-footer{
      font-size: 32px;
  }
  .rrss a img{
      width: 52px;
  }
  .condiciones-legales{
      font-size: 14px;
  }
  .copyright{
  font-size: 16px;
  }
  .autor-labs p {
      font-size: 1.4rem;
  }
  .a-autor-labs {
    padding: 0.4rem 0;
  }

  .condiciones-legales a {
    font-size: 16px;
  }

  .li-nav-footer a {
      font-size: 2rem;
  }

  .terminos{
      font-size: 1.2rem;
  }

  .privacidad{
      font-size: 1.2rem;
  }

  .cookies{
      font-size: 1.2rem;
  }
}
/* 320 */
@media screen and (max-width: 360px){
  /* generales */
  h1{
      font-size: 20px;
  }
  /* portada */
  .texto-portada{
      font-size: 9px;
  }
  /* form de contacto */
  form{
      width: 225px;
  }
  .elemento-lista {
      top: 13vh;
  }
  .contenedor-preguntas div {
      position: sticky;
      top: 13vh;
  }
  form {
      width: 260px;
  }
  form textarea {
      font-size: 8px;
  }
  form textarea::placeholder {
      font-size: 16px;
  }
  .btn-ghost {
    padding: 12px 28px;
    font-size: 16px;
  }
  .autor-labs p {
      font-size: 1.4rem;
      margin-left: -2rem;
  }
  .a-autor-labs {
      margin-left: .4rem;
  }
  .menu li {
    width: 90%;
    margin: 1.6rem auto;
    padding-bottom: 1.6rem;
    padding-left: 1.2rem;
  }
  .menu li a {
      font-size: 1.6rem;
  }
  
}





/* ****************** L A B S ****************** */


@media screen and (max-width: 1200px) {
    .h4-header-labs {
        left: 20vw;
    }
    .ola {
        top: 35rem;
    }
    
}

@media screen and (max-width: 1024px) {
    #hamburguer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 4rem;
        margin-right: 0;
    }
    .hamburger .line {
        width: 4rem;
        height: .4rem;
        margin: .8rem;
    }
    #hamburger-6.is-active .line:nth-child(1) {
        transform: translateY(18px);
    }
    #hamburger-6.is-active .line:nth-child(3) {
        transform: translateY(-6px) rotate(90deg);
    }
    .container-nav{
        min-height: 10vh;
    }
    .ul-nav{
        position: fixed;
        top: 12vh;
        width: 100%;
        height: 100vh;
        padding-top: 20px;
        left: -100%;
        display: flex;
        flex-direction: column;
        text-align: left;
        text-align: left;
        transition: all .5s;
        background-color: rgba(68, 56, 56, 0.219);
        backdrop-filter: blur(.6rem);
    }
    .ul-nav li{
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .a-nav {
        width: 95%;
        border-bottom: 2px solid #ffffffb7;
        margin: 0 2rem;
        padding: 4rem 2rem;
        font-size: 2.2rem;
    }
    .ul-nav li a span{
        display: unset;
        margin-right: 10px;
    }
    .ul-nav li a img{
        width: 18px;
    }
    .ul-nav li a i{
        font-size: 15px;
    }
    .ul-nav.show{
        left: 0;
        /* top: 12vh; */
        padding-top: 20px;
    }
    .filter {
        backdrop-filter: blur(.6rem);
    }
    .filter-nav {
        backdrop-filter: none;
    }





    .li-nav {
        padding: 0;
        font-size: 3.2rem;
    }
    .h4-header-labs {
        top: 60%;
        left: 5vw;
        font-size: 3.6rem;
        line-height: 7.2rem;
    }
    .ola {
        top: 5rem
    }
    .p-section-nfts-labs {
        width: 86%;
        font-size: 2.4rem;
        line-height: 4.4rem;
    }
    .h1-services-labs {
        font-size: 4rem;
    }
    .container-tres-services-labs {
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 8rem;
        margin-top: 8rem;
    }
    .h3-article-services-labs {
        font-size: 2.4rem;
    }
    .p-article-services-labs {
        font-size: 1.8rem;
        line-height: 3.2rem;
    }
    .h2-container-cuatro-services-labs {
        font-size: 2.8rem;
        width: 70%;
    }
    .p-container-cuatro-services-labs {
        font-size: 2.2rem;
    }
    .general-container-contador-labs {
        height: 100vh;
    }
    .h2-contador-labs {
        font-size: 3.2rem;
        line-height: 5.2rem;
    }
    .container-contador-labs {
        width: 100%;
    }
    .footer-labs {
        padding-bottom: 0;
    }
    /* .copyright {
        margin-top: 4rem;
    } */
    .condiciones-legales {
        padding: 2rem 0 2.8rem 0;
    }
}

@media screen and (max-width: 768px) {
    .hamburger .line {
        width: 4.4rem;
        height: 0.4rem;
        margin: 1rem;
    }
    #hamburger-6.is-active .line:nth-child(3) {
        transform: translateY(-10px) rotate(90deg);
    }

    .logo-nav {
        max-width: 80%;
        max-height: 80%;
    }
    .video-fondo-labs {
        height: 50rem;
    }
    .h4-header-labs {
        width: 80%;
        margin: 0 auto;
        font-size: 4rem;
        top: 65%;
        line-height: 6rem;
    }
    .container-nav {
        background-color: rgb(0 0 0 / 67%);
    }
    .li-nav {
        font-size: 2.4rem;
        padding: 0;
    }
    .ola {
        top: 19rem;
    }
    .h1-section-nfts-labs {
        font-size: 4rem;
    }
    .p-section-nfts-labs {
        font-size: 2.6rem;
        line-height: 4rem;
    }
    .h2-services-labs {
        font-size: 4rem;
        letter-spacing: .4rem;
    }
    .container-dos-services-labs {
        margin-top: 10rem;
    }
    .container-tres-services-labs {
        width: 90%;
    }
    .h1-services-labs {
        width: 80%;
        margin: 0 auto;
    }
    .general-container-contador-labs {
        height: 70vh;
    }
    
    .h3-article-services-labs {
        font-size: 2.2rem;
    }
    .p-article-services-labs {
        font-size: 1.8rem;
    }
    .container-cuatro-services-labs {
        margin-top: 10rem;
    }
    .h2-container-cuatro-services-labs {
        width: 80%;
        font-size: 3.2rem;
    }
    .p-container-cuatro-services-labs {
        font-size: 2.4rem;
    }
    .general-container-contador-labs {
        height: 80vh;
    }
    .h2-contador-labs {
        font-size: 2.6rem;
        line-height: 4.4rem;
    }
    .container-contador-labs {
        width: 110%;
    }
    .h2-twitter-contador-labs, 
    .h2-nft-contador-labs, 
    .h2-discord-contador-labs {
        font-size: 2.8rem;
    }
    .simbolo-numero-nft-contador-labs {
        font-size: 3.2rem;
    }
    .p-numero-contador-labs {
        font-size: 3.2rem;
    }

}

@media screen and (max-width: 600px) {
    .container-nav {
        grid-template-columns: 1fr 3fr;
    }
    .li-nav {
        font-size: 2rem;
        padding: 0;
    }
    .h4-header-labs {
        font-size: 3.2rem;
        line-height: 4.8rem;
        font-weight: 600;
    }
    .ola {
        top: 19rem;
        display: none;
    }
    .ola-dos {
        display: block;
        margin-top: 19rem;
    }
    
    .h1-section-nfts-labs {
        font-size: 3.6rem;
        letter-spacing: .4rem;
    }
    .p-section-nfts-labs {
        line-height: 4rem;
        font-size: 2.4rem;
    }
    .h2-services-labs {
        font-size: 3.6rem;
    }
    .p-services-labs {
        font-size: 2.4rem;
        width: 90%;
    }
    .btn-labs-escribirnos {
        padding: 0.6rem 2.4rem;
    }
    .section-services-labs{
        margin-bottom: 6rem;
        padding: 6rem 0 8rem 0;
    }
    .container-dos-services-labs {
        width: 80%;
        margin-top: 8rem;
    }
    .h1-services-labs {
        width: 100%;
        font-size: 2.8rem;
        letter-spacing: .3rem;
    }
    .container-tres-services-labs {
        width: 90%;
        margin-top: 6rem;
    }
    .h3-article-services-labs {
        font-size: 2rem;
    }
    
    .p-article-services-labs {
        font-size: 1.6rem;
    }
    .h2-container-cuatro-services-labs{
        font-size: 2.4rem;
        width: 80%;
        letter-spacing: .1rem;
    }
    .container-cuatro-services-labs {
        margin-top: 0;
    }
    .container-contador-labs {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 40px;
        width: 80%;
    }
    .general-container-contador-labs {
        height: auto;
        margin-bottom: 6rem;
    }

    .h2-twitter-contador-labs, 
    .h2-nft-contador-labs, 
    .h2-discord-contador-labs {
        font-size: 4rem;
    }

    .simbolo-numero-nft-contador-labs {
        font-size: 3.4rem;
    }

    .p-numero-contador-labs {
        font-size: 3.4rem;
    }

    .p-texto-contador-labs {
        font-size: 1.8rem;
    }

}

@media screen and (max-width: 480px) {
    .container-nav {
        grid-template-columns: 1fr 2fr;
    }
    .logo-nav {
        max-width: 100%;
        max-height: 100%;
    }
    #hamburguer {
        padding-right: 3.2rem;
    }
    .hamburger .line {
        width: 3.5rem;
        height: 0.3rem;
        margin: 0.9rem;
    }
    #hamburger-6.is-active .line:nth-child(3) {
        transform: translateY(-6px) rotate(90deg);
    }
    .li-nav {
        font-size: 1.8rem;
    }
    .a-nav {
        width: 90%;
        padding: 2.8rem 1.6rem;
        font-size: 1.8rem;
    }
    .h4-header-labs {
        margin: 0rem auto 0 auto;
        font-size: 3.2rem;
        line-height: 4.8rem;
    }
    .ola-dos {
        margin-top: 28rem;
    }
    .h1-section-nfts-labs {
        font-size: 2.8rem;
        letter-spacing: .4rem;
    }
    .btn-labs-escribirnos {
        padding: .4rem 2rem;
    }
    .p-section-nfts-labs {
        font-size: 1.7rem;
        line-height: 3.2rem;
    }
    .h2-services-labs {
        font-size: 2.8rem;
    }
    .p-services-labs {
        font-size: 2rem;
    }
    .container-dos-services-labs {
        margin-top: 6rem;
    }
    .h1-services-labs {
        font-size: 2.4rem;
    }    
    .container-tres-services-labs {
        display: flex;
        flex-direction: column;
        row-gap: 6rem;
    }
    .article-container-tres-services-labs {
        height: auto;
        padding: 4rem 2rem;
    }
    .h3-article-services-labs {
        font-size: 2.6rem;
    }
    .p-container-cuatro-services-labs {
        font-size: 2rem;
    }
    .cinco, 
    .seis {
        margin-top: 0;
    }
    .container-cuatro-services-labs {
        margin-top: 8rem;
    }
    .general-container-contador-labs {
        height: auto;
        margin-bottom: 6rem;
        padding: 6rem 0;
    }
    .container-contador-labs {
        width: 90%;
        margin-top: 6rem;
    }
    .simbolo-numero-nft-contador-labs {
        font-size: 3.2rem;
    }
    .p-numero-contador-labs {
        font-size: 3.2rem;
    }
    .container-titulo-twitter-contador-labs, 
    .container-titulo-nft-contador-labs, 
    .container-titulo-discord-contador-labs {
        margin-top: 0;
    }
    .container-simbolo-numero {
        margin-top: .4rem;
    }
    .h2-twitter-contador-labs, 
    .h2-nft-contador-labs, 
    .h2-discord-contador-labs {
        font-size: 4rem;
    }
    .p-texto-contador-labs {
        font-size: 1.6rem;
        margin-top: 1.2rem;
    }
    .rrss a {
        margin: 1.2rem 1.6rem;
    }
}

@media screen and (max-width: 393px) {
    .ul-nav.show {
        padding-top: 1.2rem;
    }
    #hamburger-6.is-active .line:nth-child(3) {
        transform: translateY(-6px) rotate(90deg);
    }
    .a-nav {
        padding: 2.4rem 2rem;
    }
    .h4-header-labs {
        font-size: 3.2rem;
        margin: -10rem auto 0 auto;
    }
    .ola-dos {
        margin-top: 14rem;
    }
    .h1-section-nfts-labs {
        font-size: 2.4rem;
    }
    .p-section-nfts-labs {
        font-size: 1.6rem;
        letter-spacing: .2rem;
        line-height: 2.4rem;
        margin: 2rem auto 0 auto;
    }
    .h2-twitter-contador-labs, 
    .h2-nft-contador-labs, 
    .h2-discord-contador-labs {
        font-size: 3.6rem;
    }

    .h2-services-labs {
        font-size: 3.2rem;
        font-weight: 700;
    }
    .h3-article-services-labs {
        font-size: 2.4rem;
    }
    .p-article-services-labs {
        margin-top: 1.2rem;
    }
    .btn-labs-escribirnos {
        font-size: 1.6rem;
        padding: .4rem 2rem;
    }
    .container-cuatro-services-labs {
        margin-top: 10rem;
    }
    .h2-container-cuatro-services-labs {
        font-size: 2.4rem;
    }
    .p-container-cuatro-services-labs {
        font-size: 1.8rem;
    }
    .h2-contador-labs {
        font-size: 2rem;
        line-height: 2.4rem;
    }
    /* .h2-twitter-contador-labs, 
    .h2-nft-contador-labs, 
    .h2-discord-contador-labs{
        font-size: 2.8rem;
    }  */
    .rrss a {
        margin: .2rem 1.2rem;
    }
}

@media screen and (max-width: 375px) {
    .ola-dos {
        margin-top: 11rem;
    }
    .h1-section-nfts-labs {
        font-size: 2rem;
    }
    .p-section-nfts-labs {
        font-size: 1.5rem;
    }
    .h2-services-labs {
        font-size: 2.4rem;
        letter-spacing: .2rem;
    }
    .p-services-labs {
        font-size: 1.6rem;
        letter-spacing: 1.2px;
        line-height: 24px;
    }
    .h3-article-services-labs {
        font-size: 2.2rem;
    }
    .btn-labs-escribirnos {
        font-size: 1.6rem;
        padding: .4rem 2rem;
    }
    .p-article-services-labs {
        font-size: 1.6rem;
    }
    .h2-contador-labs {
        font-size: 1.6rem;
        letter-spacing: .1rem;
        line-height: 2.8rem;
    }
}

@media screen and (max-width: 360px) {
    .hamburger .line {
        width: 3.2rem;
        height: 0.3rem;
        margin: .8rem;
    }
    #hamburger-6.is-active .line:nth-child(3) {
        transform: translateY(-4px) rotate(90deg);
    }
    .video-fondo-labs {
        height: 32rem;
    }
    .h4-header-labs {
        font-size: 2.8rem;
        line-height: 4.4rem;
        margin: 6rem auto 0 auto;
    }
    .ola {
        top: 17rem;
    }
    .h1-section-nfts-labs {
        font-size: 2.2rem;
    }
    .p-section-nfts-labs {
        width: 90%;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
    .h2-services-labs {
        font-size: 2.2rem;
    }
    .p-services-labs {
        font-size: 1.6rem;
    }
    .h3-article-services-labs {
        font-size: 2rem;
    }
    .p-article-services-labs {
        line-height: 2.6rem;
    }
    .container-general-twitter-contador-labs, 
    .container-general-nft-contador-labs, 
    .container-general-discord-contador-labs {
        padding: 2rem;
    }
    .btn-labs-escribirnos {
        font-size: 1.6rem;
        padding: .4rem 2rem;
    }
    .h2-container-cuatro-services-labs {
        font-size: 2rem;
    }
    .p-container-cuatro-services-labs {
        font-size: 2rem;
        font-weight: 400;
    }
    .h2-contador-labs {
        letter-spacing: .1rem;
    }
    .h2-twitter-contador-labs, 
    .h2-nft-contador-labs, 
    .h2-discord-contador-labs {
        font-size: 2.6rem;
    }
    .simbolo-numero-nft-contador-labs {
        font-size: 2.4rem;
    }
    .p-numero-contador-labs {
        font-size: 2.4rem;
    }
    .p-texto-contador-labs {
        margin-top: .8rem;
    }
    .container-contador-labs {
        height: 80vh;
    }
    .general-container-contador-labs {
        padding: 2rem 0;
    }
}

@media screen and (max-height: 667px) {
    .container-header-labs {
        top: -8rem;
        height: auto;

    }
}