.section-socios {
    width: 100%;
    height: auto;
    padding: 100px 20px;
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.h2-socios {
    font-weight: 500;
}

