*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: solid 1px red; */
}

::-webkit-scrollbar {
    width: 0rem;
}

:root {
    --font-family-titulo: -apple-system, BlinkMacSystemFont, sans-serif;
    --backgroud: #1f1f1f;
    --background-nav: #313131;
    --text-color: #fff;
    --subtext-color: rgba(236, 236, 236, 0.973);
}
  
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
  
body {
    font-family: var(--font-family-titulo);
}


/* ********************** Styles ********************** */


.section-services-labs {
    width: 100vw;
    height: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12rem 0 8rem;
}

.container-uno-services-labs {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h2-services-labs {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: -.002em;
    color: var(--text-color);
}

.p-services-labs {
    font-size: 2.8rem;
    font-weight: 400;
    letter-spacing: -.002em;
    color: var(--subtext-color);
    margin-top: 2.4rem;
}

.container-dos-services-labs {
    display: flex;
    align-items: center;
    margin-top: 4.8rem;
}

.h1-services-labs {
    font-size: 3.2rem;
    font-family: var(--font-family-titulo);
    letter-spacing: .2rem;
    background: linear-gradient(90deg, #ff0000 0%, #ff4800 40%, #ff9e66 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: movimiento 3s linear infinite alternate;
}



@keyframes movimiento {
    from{
        background-position: 0 0;
    } to {
        background-position: 100% 100%;
    }
}

.container-tres-services-labs {
    width: 70%;
    height: auto;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 8rem;
    column-gap: 1.2rem;
    justify-items: center;
    align-items: center;
}

.article-container-tres-services-labs  {
    width: 85%;
    height: 40vh;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1rem);
    text-align: center;
    font-family: var(--font-family-titulo);
    border-radius: 1.2rem;
    padding: 2rem;
    box-shadow: 0 0 15px 0 #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: all .3s ease-in-out;
}

.article-container-tres-services-labs:hover {
    animation: stop;
    box-shadow: 0 0 15px 3px #ff7300;
}

.uno {
    animation: float 3.5s ease-in-out infinite;
}

.dos {
    animation: float-dos 2.75s ease-in-out infinite;
}

.tres {
    animation: float-tres 3s ease-in-out infinite;
}

.cuatro {
    animation: float 3.25s ease-in-out infinite;
}

.cinco {
    animation: float-dos 2.5s ease-in-out infinite;
}

.seis {
    animation: float-tres 3.75s ease-in-out infinite;
} 

.h3-article-services-labs {
    background: linear-gradient(90deg, #ffc480 10%, #ff5100 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 100%;
    /* color: var(--text-color); */
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -.002em;
}


.p-article-services-labs {
    color: var(--subtext-color);
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: -.002em;
    line-height: 2.4rem;
    margin-top: 2rem;
}


.container-cuatro-services-labs {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 10rem;
}

.h2-container-cuatro-services-labs {
    font-size: 3.2rem;
    font-weight: 600;
    letter-spacing: -.002em;
    width: 55%;
    margin: 0 auto;
    color: var(--text-color);
    font-family: var(--font-family-titulo);
}

.p-container-cuatro-services-labs {
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: -.002em;
    color: var(--subtext-color);
    margin-top: 2rem;
    font-family: var(--font-family-titulo);
}

.p-container-cuatro-services-labs a {
    color: var(--subtext-color);
    transition: color .2s ease-in-out;
}

.p-container-cuatro-services-labs a:hover {
    color: #dc4738;
}


@keyframes float {
    0% { transform: translate(0,  0rem); }
    50%  { transform: translate(0, 1rem); }
    100%   { transform: translate(0, -0rem); }
}

@keyframes float-dos {
    0% { transform: translate(0,  0rem); }
    50%  { transform: translate(0, 2rem); }
    100%   { transform: translate(0, -0rem); }
}

@keyframes float-tres {
    0% { transform: translate(0,  0rem); }
    50%  { transform: translate(0, 3rem); }
    100%   { transform: translate(0, -0rem); }
}